@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Robot", sans-serif, "Arial", Helvetica, sans-serif;
  min-height: 100vh;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
}

.section-pokemon {
  display: flex;
  justify-content: center;
  background-color: rgb(188, 252, 252);
  border-top: 3px solid black;
  padding: 30px 0;
}

.list-pokemon {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.list-pokemon__item {
  text-align: center;
  width: 150px;
  height: 150px;
  padding: 10px;

  border: 2px solid black;
  cursor: pointer;
}

.list-pokemon__item img {
  width: 80%;
}

.list-pokemon__item p {
  text-align: center;
  font-size: 10px;
  padding: 0 4px;
}
