@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Robot", sans-serif, "Arial", Helvetica, sans-serif;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

li {
  list-style-type: none;
}

h1 {
  text-align: center;
}

.btn-reload {
  margin: 20px 0;
}

.input {
  text-align: center;
}

.section-pokemon {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(188, 252, 252);
  border: 3px solid black;
}

.list-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-pokemon__item {
  text-align: center;
  padding: 10px;
}

.sprite {
  width: 200px;
  border: 2px solid black;
  border-radius: 12px;
  padding: 20px;

  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.452);
  cursor: pointer;
}

.sprite img {
  width: 65%;
}

.poke-name {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
}

.desc {
  text-align: center;
}

/* Janela Widget */
.widget {
  z-index: 99;
  transition: all 1s;
  position: fixed;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);

  width: 60%;
  height: 90%;
  
  border: 2px solid black;
  background-color: aquamarine;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.925);
}

.widget--transition {
  transition: all 1s;
  left: 50%;
}

.widget__window {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
  height: 100%;
  padding: 10px;
}

.widget__window button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.sprite-widget {
  display: flex;
  justify-content: center;
  min-width: 20%;
  cursor: default;
}

.sprite-widget img {
  width: 80%;
}

.stats {
  text-align: center;
}

.none {
  display: none;
}
